h1 {
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 15px;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin-top: -0.01px;
}

body {
    color: rgb(31, 28, 28);
    
}

p {
    font-family: fantasy;
}

button {
    color: blue ;
    background-color: rgb(77, 75, 75);
    ;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

div {
    margin-top: 5%;
}

.image-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
}

.small-image {
    width: 450px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border: 4px solid #000000da; /* Optional border */
    border-radius: 8px; /* Optional rounded corners */
}

.small-image:hover {
    transition: 0.6s;
    border: 4px solid #085af3da;
    box-shadow: 0 0 10px black ;

}


p {
    margin-top: 10px; /* Adjust spacing between image and text */
}
